footer {
    background-color: var(--colour-footer);
    color: var(--colour-text);
    padding: 20px;
    text-align: center;

    div {
        display: flex;
        flex-direction: column;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 20px;

        li {
            margin: 0;
            padding: 0;

            a {
                color: var(--colour-text);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}