header {
    background-color: var(--gray-900);
    color: var(--teal-100);
    display: flex;
    justify-content:  space-between;
    align-items: center;

    @media (width < 500px) {
        flex-direction: column;
    }

    .logo-container {
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 0.5rem;

        p {
            font-size: 2rem;
            font-weight: 800;
            text-align: center;
        }
    }

    .logo {
        display: block;
        width: 85px;
        height: auto;

        @media (width < 500px) {
            width: 50px;
        }
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

        li {
            a {
                display: block;
                padding: 1em;

                &:hover {
                    background-color: var(--teal-300);
                    color: var(--gray-900);
                }
            }
        }
    }
}