body {
    display: flex;
    flex-direction: column;
    color: var(--gray-200);
    background-color: var(--gray-800);
}

main {
    flex: 1;
    padding: 3rem 2rem;

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .heading {
        font-size: 3rem;
        font-weight: 600;
    }

    .subheading {
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    h3 {
        margin-top: 2.5em;
        margin-bottom: 1em;
    }

    ul {
        padding-left: 2em;
        margin-bottom: 1em;

        li {
            margin-bottom: 0.5em;
        }
    }
}

.wrap-up {
    margin-top: 3rem;
    padding-block: 2rem;

    hr {
        margin-block: 2rem;
        border-color: var(--gray-500);
    }
}

.terms h2 {
    margin-top: 1em;
}

.app-store-buttons {
    display: flex;
    margin-block: 2rem;
    gap: 1rem;
}